@import 'tailwindcss';
@import 'tw-animate-css';

@theme {
  --font-*: initial;

  --color-tesla: #eb3850;

  --animate-float-3: float 3s ease-in-out infinite;
  --animate-float-4: float 4s ease-in-out infinite;
  --animate-float-5: float 5s ease-in-out infinite;

  @keyframes float {
    0% {
      transform: translate(0rem, 0rem);
    }
    50% {
      transform: translate(0.75rem, -1.5rem);
    }
  }

  --animate-grow: grow 4s ease-in-out infinite;

  @keyframes grow {
    0% {
      transform: scale(100%);
    }
    50% {
      transform: scale(120%);
    }
  }
}

@custom-variant data-selected (&[data-selected="true"]);
@custom-variant data-active (&[data-active="true"]);
@custom-variant data-scrolled (&[data-scrolled="true"]);

* {
  -webkit-font-smoothing: antialiased;
  font-family:
    Inter,
    'DM Sans',
    Roboto,
    system-ui,
    -apple-system,
    sans-serif;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

li {
  list-style: none;
}
